.facebook-card {
    color: white;
    background-color: #29487d;
    margin: 20px;
    border: 2px solid transparent;
    width: 500px;

    .title {
        font-size: 1.4em;
        padding: 20px;
        display: flex;
        flex-direction: row;
        .title-text {
            flex: 1;
        }

        .title-status {
            display: flex;
            color: #76ce76;
            mat-icon {
                margin: auto;
            }
        }
    }

    .content {
        padding: 10px 20px 20px 20px;
        overflow: hidden;
        transition: opacity 2000ms ease;
        opacity: 1;
        div {
            padding: 5px 0;
        }
       
        .secondary {
            font-size: 0.8em;
        }
    }

    .footer {
        padding: 20px;
        display: flex;
        .centered {
            margin:auto;
            display: flex;
            flex-direction: column;
            text-align: center;
            .spinner {
                margin:auto;
            }
        }
    } 

}