<div class="facebook-card">
    <div class="title">
        <div class="title-text">Facebook Box</div>
        <div class="title-status">
            <ng-container *ngIf="fetched; then showStatus;"></ng-container>
            <ng-template #showStatus>
                <mat-icon>check_circle_outline</mat-icon>
            </ng-template>
        </div>
    </div>
    <ng-container *ngIf="!fetched; then infoTemplate;"></ng-container>
    <ng-template #infoTemplate>
        <div class="content">
            <div>Connect with facebook to get your top 20 youtube posts.</div>
            <div class="secondary">
                No data will be stored in this process. Posts are just read from the wall. This application will never write anything in your behalf.
            </div>
        </div>
        <div class="footer">
            <div class="centered">
                <div [hidden]="buttonRendered" class="spinner">
                    <div class="loader"></div>
                </div>
                <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true" data-onlogin="facebookLoginCallback()">
                </div>
            </div>
        </div>
    </ng-template>
</div>