.google-card {
    color: white;
    background-color: red;
    margin: 20px;
    border: 2px solid transparent;
    width: 500px;
    .title {
        padding: 20px;
        .title-text {
            font-size: 1.4em;
        }
        .title-status {}
    }
    .content {
        padding: 0 20px 20px 20px;
        .button-container {
            display: flex;
            padding: 10px;
            div {
                margin: auto;
            }
        }
    }
}