<div class="google-card">
    <div class="title">
        <div class="title-text">Google Box</div>
        <div class="title-status">
        </div>
    </div>
    <div class="content">
        <div>Connect with google to create a playlist with your preferred videos.</div>
        <div class="button-container">
            <div class="g-signin2" data-onsuccess="onGoogleSignIn"></div>
        </div>
    </div>
</div>