@import '~material-design-icons/iconfont/material-icons.css';

body {
    padding: 0;
    margin: 0;
    background-color: #e4e1e1;
    font-family: 'Open Sans', sans-serif;
}

.loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}