<div class="app-root-container">
    <div class="app-root-division google">
        <app-google-container (login)="handleYoutubeLogin($event)"></app-google-container>
    </div>
    <div class="app-root-division facebook">
        <app-facebook-container (login)="handleFacebookLogin($event)"></app-facebook-container>
    </div>
</div>